<html>
    <head>
        <title>Iewa Pupo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Iewa Pupo</a></h1>
        </div>

        <div>
            <p>publicado: 07.12.2019, 15:31</p>
            <h2><a href="">Dia de Curso</a></h2>
            <p>Hoje estou tendo minha primeira experiência utilizando o Django e a linguagem de programação Phyton.</p>
        </div>

        <div>
            <p>publicado: 07.12.2019, 15:32</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Dá certo, por favor!!!</p>
        </div>
    </body>
</html>